version: 2.1

executors:
  node:
    docker:
      - image: circleci/node:16

commands:
  yarn_install:
    steps:
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - nuxt-jsonld-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: nuxt-jsonld-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

jobs:
  lint:
    executor: node
    steps:
      - checkout
      - yarn_install
      - run: yarn lint

  test:
    executor: node
    steps:
      - checkout
      - yarn_install
      - run: yarn test:ci

workflows-references:
  hook-on-v1: &hook-on-v1
    filters:
      branches:
        only: v1

workflows:
  version: 2
  test_and_release:
    jobs:
      - test
      - lint
      - release:
          <<: *hook-on-v1
          requires:
            - test
            - lint
